:root {
  --green-color: #7acc2d;
  --green-color2: #3f6b15;
  --black-color: black;
  --gray-color: rgb(168, 168, 168);
  --white-color: white;
  --comments-color: linear-gradient(
    180deg,
    #f4f4f4 0%,
    #003cff 90%,
    var(--green-color2) 100%
  );

  --title-font: 3rem;
  --subtitle-font: 2rem;
  --text-font: 1.5rem;
}
.rowContainer {
  max-width: 900px;
  margin: 8rem auto;
}
.rowContainer__row {
  margin-bottom: 5rem;
  display: flex;
}
.rowContainer__row img {
  width: 7rem;
}
.rowContainer__row span {
  font-size: 2.5rem;
  padding-left: 3rem;
  color: var(--green-color);
}
.rowContainer__row p {
  font-size: 1.8rem;
  padding: 0 3rem;
}
.resumeContainer {
  max-width: 900px;
  margin: 8rem auto;
}
.resumeContainer__row {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resumeContainer__row img {
  width: 14rem;
  margin: 2rem;
}
.resumeContainer__row span {
  font-size: var(--subtitle-font);
  color: var(--green-color);
}
.resumeContainer__row p {
  font-size: var(--text-font);
  padding: 0 5rem;
}
.payModule {
  background-color: var(--white-color);
  box-shadow: 0.6rem 0.6rem 0.2rem #00000029;
  padding: 2rem;
}
.payModule label {
  font-size: var(--text-font);
}
.payModule input {
  margin-bottom: 2rem;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
}
.payModule .button {
  background-color: var(--green-color);
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 0.2rem;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
}
.payModule .button:hover {
  background-color: var(--green-color2);
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-4 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .rowContainer__row {
    margin-bottom: 10rem;
  }
  .resumeContainer__row {
    display: flex;
    flex-direction: row;
  }
}
